@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@using Microsoft.AspNetCore.Identity
@using DTO.Models
@using X.PagedList;
@using X.PagedList.Mvc.Core
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager


@if(SignInManager.IsSignedIn(User))
{ 
    <div class="row">
        <h3 class="left">Student List</h3>
        <a class="btn btn-primary right" id="AddStudent">Add Student</a>
        <br />
        <br />
        <div class="form-group">

            <table class="table">
                <tr>
                    <td><a asp-action="Index" asp-route-sortOrder="@ViewData["IDSortParm"]">ID</a></td>
                    <td>FirstName</td>
                    <td>LastName</td>
                    <td>Address</td>
                    <td>PhoneNumber</td>
                    <td>CourseID</td>
                    <td>Action</td>
                </tr>
                @foreach (var item in ViewBag.onePageOfStudent)
                {

                    <tr>
                        <td>@item.StudentID</td>
                        <td>@item.FirstName</td>
                        <td>@item.LastName</td>
                        <td>@item.Address</td>
                        <td>@item.PhoneNumber</td>
                        <td>@item.CourseID</td>
                        <td><a class="updateS">Update</a></td>
                        <td><a asp-controller="Home" asp-action="DeleteStudent" asp-route-id="@item.StudentID">Delete</a></td>

                    </tr>

                }
            </table>
            @Html.PagedListPager((IPagedList)ViewBag.onePageOfStudent, page => Url.Action("Index", new { page }))
        </div>
    </div>




}